header {
  background-color: greenyellow;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #ddd;
  font-size: 25PX;
  margin: 0%;
}

body{
    margin: 0%;
}

.horizontal-nav {
  display: flex;
  gap: 10px; /* 요소 사이 간격 */
}

.horizontal-nav div a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

footer {
  background-color: #432616;
  padding: 20px;
  text-align: center;
  color: #9A7B4F;
  border-bottom: 2px solid #ddd;
  font-size: 25PX;
  margin: 0%;
}